<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	                   http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 
	两个IoC来获取bean，
	Property进行属性输入，name为set方法的变形：SetBook->Book->book
	ref为另一个bean的id值的引用
 -->
<bean id="bookServiceId" class="com.syc.b_di.BookServiceImpl">
	<property name="bookDao" ref="bookDaoId"></property>
</bean>

<bean id="bookDaoId" class="com.syc.b_di.BookDaoImpl"></bean>

</beans>