<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	                   http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--配置Service
	<bean>配置需要创建的对象
	id：用于从Spring容器中获取实例
	class：全限定类名
-->
<bean id="userServiceId" class="com.syc.a_ioc.UserServiceImpl"></bean>

</beans>